header {
  height: 10vh;
  border-bottom: navy solid 3px;
  margin-bottom: 1em;
}

.header-row {
  height: 10vh;
}

.header-img {
  height: 8vh;
  margin-right: 1em;
}

.my-bg {
  background-image: url(background2.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.my-card {
  background-color: rgb(31, 210, 210);
  border: solid 3px navy;
  border-radius: 5px;
  min-width: 100%;
  min-height: 25vh;
  padding: .25em;
}

.bottle-img {
  height: 40vh;
}

.hover:hover {
  transform: scale(1.05);
  transition: all ease .2s
}

.bottle-img:active {
  transform: translateX(10px);
  transition: all ease .05s
}